.Container{
   max-width: 700px;
   background: #FFF;
   border-radius: 4px;
   box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); 
   padding: 30px;
   margin: 80px auto;
}

h1{
    font-size: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;

}

.add{
    margin-right: 10px;
}

.spinner{
    margin-right: 10px;
    animation: rotate 2s linear infinite;
}

.github{
    margin-right: 10px;
}

form{
    margin-top: 30px;
    display: flex;
    flex-direction: row;
}

.input{
    flex: 1;
    border: 1px solid #eee;
    padding: 10px 15px;
    border-radius: 4px;
    font-size: 16px;
}

.input-error{
    flex: 1;
    border: 1px solid #eee;
    padding: 10px 15px;
    border-radius: 4px;
    font-size: 16px;
    border-color: red;
}

.SubmitButton{
    background: #7159c1;
    border: 0;
    padding: 0 15px;
    margin-left: 10px;
    border-radius: 4px;
    padding-right: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}




@keyframes rotate{
    from {
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}

.List{
    list-style: none;
    margin-top: 30px;
    

      
}

li{
    padding: 15px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

   & + li{
    border-top: 1px solid #eee;
   }
}

a{
    color: #7159c1;
    text-decoration: none;
    } 