* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    
}



body{
    background: #7159c1;
    -webkit-font-smoothing: antialiased !important;
    min-height: 100%;
    color: #222;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}

input {
    color: #222;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}

html{
    min-height: 100%;
}

#root{
    min-height: 100%;
}

button{
    cursor: pointer;
    color: #222;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}




